*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #aedaa7;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    background-color: #ffffff;
    width: 600px;
    max-width: 80%;
    margin: 0 auto;
}
img{
    width: 300px;
    height: 300px;
}
.column-container{
    display: flex;
}
nav{
    background-color: #ffffff;
    border-bottom: 2px solid #8a8b8c;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
nav i{
    color: #8a8b8c;
    margin: 0 10px 0 5px;
}
nav p{
    color: #8a8b8c;
}
img{
    width: 300px;
    height: 300px;
}
.col-1{
    object-fit: cover;
    overflow: hidden;
}
.col-2{
    color: #8a8b8c;
    border-left: 2px solid #8a8b8c;
    padding: 20px;
}
.col-2 .price{
    font-size: 30px;
    margin: 20px 0;
}
.col-2 .price span{
    font-size: 20px;
}
button{
    background-color: #ffffff;
    color: #8a8b8c;
    margin-top: 30px;
    margin-right: 10px ;
    padding: 5px 10px;
    border: 1px solid #8a8b8c;
}

@media (max-width: 700px){
    .column-container{
        flex-direction: column;
        text-align: center;
    }
    .col-1{
        padding: 10px;
        margin: 0;
        overflow: hidden;
    }
    .col-2{
        color: #8a8b8c;
        border-left: none;
        padding: 10px;
    }
    .col-2 .price{
        font-size: 30px;
        margin: 10px 0;
    }
    button{
        margin-top: 20px;
    }
}
